  <div style="display: inline-flex;">
    <div class="meni">
       <app-glavni-meni></app-glavni-meni>
    </div>
     <div class="container">
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <img src="../../assets/slike/mat.png" routerLink="/matematika">
            </mat-grid-tile>
            <mat-grid-tile>
                <img src="../../assets/slike/bio.png">
            </mat-grid-tile>
            <mat-grid-tile>
                <img src="../../assets/slike/geo.png">
            </mat-grid-tile>
          </mat-grid-list>
         </div>
 </div>