.container{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100vh;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 10px 10px 5px #aaaaaa;
    padding: 10px;
    text-align: center;
    color: gray;
    margin-left: 370px;
}
.mat-grid-list{
    margin-top: 30px;
}

mat-grid-tile{
    height: 250px;
    margin-bottom: 30px;

}

.example-card {
    padding-top: 10px !important;
    max-width: 300px;
    border-radius: 8px;
    height: 180px;

  }

  .example-card img {
    height: 140px;
    width: 268px;

}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container{
        margin: auto;
        width: 90% !important;
    }
    img {
        width: 60%;
        height: 80%;
    }

}