<table>
    <thead>
        REGISTRACIJA
    </thead>
    <tr>
        <td> <input type="text" placeholder="Ime" [(ngModel)]="name"> </td>
    </tr>
    <tr>
        <td> <input type="text" placeholder="Prezime" [(ngModel)]="lastname"> </td>
    </tr>
    <tr>
        <td> <input type="text" placeholder="Korisničko ime" [(ngModel)]="username"> </td>
    </tr>
    <tr>
        <td> <input type="text" placeholder="Email" [(ngModel)]="mail"> </td>
    </tr>
    <tr>
        <td> <input type="text" placeholder="Šifra" [(ngModel)]="password1"></td>
    </tr>
    <span style="font-size: xx-small;"> * Šifra mora imati minimalno 7 karaktera i počinjati slovom,
         od toga bar jedno veliko slovo, jedan broj i jedan specijalni karakter.
    </span>
    <tr>
        <td> <input type="text" placeholder="Unesite ponovo šifru" [(ngModel)]="password2"> </td>
    </tr>
    <tr>
        <td> <input type="text" placeholder="Škola" [(ngModel)]="skola"> </td>
    </tr>
      <tr>
        <td> <button class="btn btn-success" (click)="registracija()"> REGISTRUJTE SE </button> </td>
    </tr>
</table>

